/* CSS RESET */
/* Extra small devices (phones, 600px and down) */  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */

div, body ,img, h1, h2{
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2{
  color: var(--Main-Font_Color);
}

:root{
  --Black: #292724;
  --Brown: #5F403854;
  --Bronze: # ;
  --Light-Bronze: #FFFFBE;
  --Blue: #AEE6F8;
  --Grey: #4C4A46;
  --Light-Bronze_Hover: #F9D97B;
  --Main-Font_Size: 18px;
  --Main-Font_Color:#FFF6E2;
}

body {
    font-family: "Century Schoolbook", sans-serif;
    background-color: var(--Black);
    color: var(--Main-Font_Color);
}

a{
  text-decoration: none;
}
  
  .sidenav {
    position: fixed;
    z-index: 2;
    top: 5px;
    left: 14px;
    overflow-x: hidden;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .sidenav a {
    padding: 6px 8px 25px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #FFF6E294;
    display: block;
  }
  
  .sidenav a:hover {
    color: #7EEFFF;
  }

  .sidenav-background{
    width: 355px;
    position: fixed;
    top: -120px;
    z-index: 1;
    overflow-x: hidden;
    padding-right: 10px;
    height: 680px;
    background-image: url(Images/side-nav_background2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--Brown);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  .Main-Image-Container{
    width: auto;
    height: 40vw;
  }

  .Main-Image-Container > img{
    width: 100%;
    height: 100%;
  }


  
  /* MAIN DESCRIPTION */
  

  .Main-Content_Description-Container{
    padding-left: 2vw;
    width: auto; 
    height: auto; 
    background-size: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(322deg, rgba(78, 51, 34, 1) 0%, rgba(24, 13, 6, 1) 100%);
    padding-bottom: 5vw;
    padding-top: 5vw;
    clear: both;
    color: var(--Main-Font_Color);
  }

  .Main-Content_Description-Container_Background{
    width: auto; 
    background-color: #7EEFFF;
    height: auto; 
    background-size: 100px;
    background-repeat: no-repeat;
    background-image: url(Images/bckgr_gear-bronze.png);
  }

  .Main-Content_Description-Title{
    padding-bottom: 3vw;
    height: 2vw;
    color: var(--Main-Font_Color);
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1vw;
  }
  
  .Main-Content_Description-Paragraph{
    height: auto;
    width: 50vw;
    font-size: 1vw;
    margin-top: 3vw;
  }

  .Main-Content_Description-Skills_img{
    height: 40vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }



  .Main-Content_Description-Skills_img img{
    width: 100%;
    height: 100%;
    
  }

  button{
    background-color: transparent; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .Main-Content_Description-CV-Button{
    width: 12vw;
    height: 5vw;
    background-image: url(Images/button-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: black; 
    font-size: 1vw;
    margin-top: 2vw;
  }

  .Main-Content_Description-CV-Button:hover{
    color: #7EEFFF;

  }



  /* Desktop View */
  @media screen and (min-width: 1000px){
    .Main-Content_Description-Skills_img {
    float: right;
    height: 20vw;
    width: 35vw;
      margin-right: 2vw;
    }
  }


  /* Mobile View */
  @media screen and (max-width: 1000px){
    .Main-Content_Description-Paragraph {
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
      height: auto;
      font-size: 2.2vw;
    }

    .Main-Content_Description-CV-Button{
      width: 32vw;
      height: 13vw;
      font-size: 3vw;
      margin-left: 2.6vw;
    }

    .Main-Content_Description-Title{
      height: 10vw;
      font-size: 2.1vw;
      margin-bottom: 3vw;
      text-align: center;
    }
  } 

  
  /* ------------------------------------ */

  /* EXPERIENCE*/

  .Main-Content_Experience-Container_All{
    background: linear-gradient(167deg, rgba(41, 39, 36, 1) 0%, rgba(24, 23, 21, 1) 100%);
   
  }
.Main-Content_Experience-Container{
        height: 70vw; 
        width: 70vw; 
        margin: auto;
        background-image: url(Images/BUBBLE2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 5.7vw;
        color: var(--Main-Font_Color);
        line-height: 1.2vw;
       
}

.Main-Content_Experience-Container h2{
  font-weight: 900;
  color: var(--Blue);
  font-size: 2vw;
}

.Main-Content_Experience-Card{
  height: 13vw; 
  width: 28vw; 
  margin-left: 56%; 
  margin-bottom: 12vw;
}

#Main-Content_Experience-Container_Box1{
  height: 12vw; 
  width: 28vw;
  margin-left: 3vw; 
  margin-bottom: 11vw;
  font-size: 0.9vw;
  padding-top: 1vw;
}
#Main-Content_Experience-Container_Box2{
  font-size: 0.9vw;
}




  /* ------------------------------------ */

   /* LANGUAGE SKILLS */
   
  .Main-Content_Language-Container{
    width: auto; 
    height: auto;
    background-repeat: no-repeat;
    background-image: url(Images/Background-wood.3.png);
    padding-bottom: 5vw;

  }

  .Main-Content_Language-Skills_Card{
    display: flex;
    flex-wrap: nowrap;
    
  }
  .Main-Content_Language-Skills_Card > div{
    width: 24vw;
    height: 25vw;
    padding-bottom: 5vw;
    margin: .4vw;
  }
  
    /* ------------------------------------ */

    /* APPLICATIONS*/
  .Main-Content_Applications-Container{
    width: auto;
    height: auto;
    background-color:#4C4A4650;
  }

  .Main-Content_Applications-Skills_Card{
  }

  .Main-Content_Applications-Skills_Card > div{
  }

  .Main-Content_Language-Skills_Card img{
  }

  
    /* ------------------------------------ */

    /* PROJECTS */
    .flex-container {
      display: flex;
      flex-wrap: nowrap;
      
    }
  
  
    .flex-container > div {
      height: auto;
      color: var(--Main-Font_Color);
      font-size: 18px;
    }
  
    #Main-Content_Projects-Flex_Container{
      margin-left: 3vw;
      height: 15vw;
      width: 90vw;
      background-image: url(Images/Project-Card.png);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: 5vw;
      margin-bottom: 5vw;
      
    } 
  
    #Main-Content_Projects-Flex_Card_1{
      width: 15.7vw;
      height: 13.5vw;
      margin-top: .5vw;
      margin-left: 0.5vw;
      margin-right: 2vw;
    }
  
    #Main-Content_Projects-Flex_Card_2{
      width: 74vw;
      margin-top: 1.2vw;
    }

    #Main-Content_Projects-Flex_Card_2 h1{
      font-size: 2.3vw;
    }

    #Main-Content_Projects-Flex_Card_2 p{
      font-size: 1.2vw;
    }

    #Main-Content_Projects-Flex_Card_2 div{
      width: 96%;
    }

   




  




    /* ------------------------------------ */

    /* ARTWORK */

    
    img {
      vertical-align: middle;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .container {
      position: relative;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
      margin-left: 32.2vw;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      padding: 2px 16px;
      color: white;
    }
  
    .row{
      margin-left: 18vw;

    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 13%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }



    /* ------------------------------------ */

    
    /* Footer */

      footer{
        width: auto; 
        background-color: cyan; 
        height: 35vw;
        padding-top: 5vw;
        background-image: url(Images/Background-wood-Black.2.png);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      
      .Footer-Content_Container{
        width: 40vw; 
        height: 30vw;
        padding-right: 10vw;
         
      }
      .Footer-Content_Container-Container{
        
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #1B1B1B96;
        height: 30vw;
        padding-top: 3vw;
      }
      .Footer-Content_Container-Title{
        width: 60%; 
        height: 4vw; 
        margin: auto;
        text-align: center;
        font-size: 2vw;
        padding-bottom: 3vw;
      }
      .Footer-Content_Container-Description{
        height: 7vw; 
        width: auto;
        font-size: 1.5vw;
        text-align: center;
      }
      .Footer-Content_Container-Block{
        background-repeat: no-repeat;
        background-size: 100%;
        width: 25vw; 
        height: 15vw; 
      }
      .Footer-Content_Container-Icon_Container{
        width: 40vw; 
        height: 20vw; 
      }
      .Footer-Content_Container-Icon{
        height: vw; 
        width: 50%; 
      }

    /* ------------------------------------ */
    

      .Footer-Content_Mini-Footer{
        width: auto; 
        height: 3 vw; 
        background-color:#1B1B1B; 
        font-size: 1.1vw;
        text-align: center;
        color: var(--Main-Font_Color);
        padding-top: 1vw;
        padding-bottom: 1vw;
      }



  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }





