/* CSS RESET */
/* Extra small devices (phones, 600px and down) */  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */

div, body ,img{
  margin: 0;
  padding: 0;
  border: 0;
}


:root{
  --Black: #292724;
  --Brown: #5F403854;
  --Bronze: # ;
  --Light-Bronze: #FFFFBE;
  --Blue: #AEE6F8;
  --Grey: #4C4A46;
  --Light-Bronze_Hover: #F9D97B;
  --Main-Font_Size: 18px;
  --Main-Font_Color:#FFF6E2;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--Black);
}
  
  .sidenav {
    position: fixed;
    z-index: 2;
    top: 5px;
    left: 14px;
    overflow-x: hidden;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .sidenav a {
    padding: 6px 8px 25px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #FFF6E294;
    display: block;
  }
  
  .sidenav a:hover {
    color: #7EEFFF;
  }

  .sidenav-background{
    width: 355px;
    position: fixed;
    top: -120px;
    z-index: 1;
    overflow-x: hidden;
    padding-right: 10px;
    height: 680px;
    background-image: url(Images/side-nav_background2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .Main-Image-Container{
    width: auto;
    height: 40vw;
  }

  .Main-Image-Container > img{
    width: 100%;
    height: 100%;
  }


  
  /* MAIN DESCRIPTION */
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    
  }
  #flex-container-Div_Paragraph{
    width: 70vw;
  }

  .flex-container > div {
    width: 20vw;
    height: auto;
    color: var(--Main-Font_Color);
    font-size: 18px;
  }

  .Main-Content_Description-Container{
    padding-left: 2vw;
    width: auto; 
    height: auto; 
    background-size: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(322deg, rgba(78, 51, 34, 1) 0%, rgba(24, 13, 6, 1) 100%);
    padding-bottom: 5vw;
    padding-top: 5vw;
    clear: both;
    color: var(--Main-Font_Color);
  }

  .Main-Content_Description-Container_Background{
    width: auto; 
    background-color: #7EEFFF;
    height: auto; 
    background-size: 100px;
    background-repeat: no-repeat;
    background-image: url(Images/bckgr_gear-bronze.png);
  }

  .Main-Content_Description-Title{
    padding-bottom: 3vw;
    height: 2vw;
    color: var(--Main-Font_Color);
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1vw;
  }
  
  .Main-Content_Description-Paragraph{
    height: auto;
    width: 50vw;
    font-size: 1vw;
    margin-top: 3vw;
  }

  .Main-Content_Description-Skills_img{
    height: 40vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }



  .Main-Content_Description-Skills_img img{
    width: 100%;
    height: 100%;
    
  }

  button{
    background-color: transparent; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .Main-Content_Description-CV-Button{
    width: 12vw;
    height: 5vw;
    background-image: url(Images/button-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: black; 
    font-size: 1vw;
    margin-top: 2vw;
  }

  .Main-Content_Description-CV-Button:hover{
    color: #7EEFFF;

  }



  /* Desktop View */
  @media screen and (min-width: 1000px){
    .Main-Content_Description-Skills_img {
    float: right;
    height: 20vw;
    width: 35vw;
      margin-right: 2vw;
    }
  }


  /* Mobile View */
  @media screen and (max-width: 1000px){
    .Main-Content_Description-Paragraph {
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
      height: auto;
      font-size: 2.2vw;
    }

    .Main-Content_Description-CV-Button{
      width: 32vw;
      height: 13vw;
      font-size: 3vw;
      margin-left: 2.6vw;
    }

    .Main-Content_Description-Title{
      height: 10vw;
      font-size: 2.1vw;
      margin-bottom: 3vw;
      text-align: center;
    }
  } 

  
  /* ------------------------------------ */

  /* EXPERIENCE*/

.Main-Content_Experience-Container{
  width: auto; 
  height: auto; 
  background-color: var(--Black);
  
}


.Main-Content_Experience-Card{
  width: 1100px;
  height: 1100px;
  background-image: url(Images/experience-Bubble_Container.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Main-Content_Experience-Card_Bubble-Container{
  width: 450px;
  height: 210px;
  margin-left: 40px;
  position: absolute;
  color: var(--Main-Font_Color);
}


#Experience-Card_Bubble-1{
  top: 110px;
  left: 2px;
}

#Experience-Card_Bubble-2{
  position: absolute;
  top: 45%;
  left: 73%;
  transform: translate(-50%, -50%);
}

#Experience-Card_Bubble-3{
  position: absolute;
  bottom: 237px;
  left: 2px;
}



.Main-Content_Experience-Card_Bubble-Title{
  font-weight: bolder;
  width: 80%;
  height: auto;
  padding-top: 1px;
}


.Main-Content_Experience-Card_Bubble-Description{
  margin-top: 40px;
  width: auto;
  height: 125px;
}



  /* ------------------------------------ */

   /* LANGUAGE SKILLS */
   
  .Main-Content_Language-Container{
    width: auto; 
    height: auto;
    padding-left: 220px;
    background-repeat: no-repeat;
    background-size: 120vw;
    background-image: url(Images/Background-wood.3.png);
  }

  .Main-Content_Language-Skills_Card{
    display: flex;
    flex-wrap: nowrap;
  }
  .Main-Content_Language-Skills_Card > div{
    background-image: url(Images/square-container.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 340px;
    margin: 10px;
    text-align: center;
    height: 400px;
    
  }
    /* ------------------------------------ */

    /* APPLICATIONS*/
  .Main-Content_Applications-Container{
    width: auto; 
    height: auto; 
    background-color: var(--Brown);
    padding-left: 220px;

  }

  .Main-Content_Applications-Skills_Card{
    display: flex;
    flex-wrap: nowrap;
  }

  .Main-Content_Applications-Skills_Card > div{
    background-color: #f1f1f1;
    width: 340px;
    margin: 10px;
    text-align: center;
    height: 400px;
  }

  .Main-Content_Language-Skills_Card img{
    margin-top: 50px;
    width: 80%;
  height: 65%;
  }

  
    /* ------------------------------------ */

    /* PROJECTS */
    .Main-Content_Content-Container{
      width: auto; height: auto; background-color: var(--Black);
      padding-left: 13vw;
    }

    .Main-Content_Projects-Card-Flex_Container {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .Main-Content_Projects-Card-Flex_Container > div {
      width: 200px;
      height: 170px;
      margin: 10px;
      font-size: 30px;
      color: var(--Main-Font_Color);
    }

    #Main-Content_Projects-Card-Flex_Container-Content{
      width: 930px;
      margin-left: 30px;
    }

    .Main-Content_Projects-Card{
      width: 1200px;
      height: 190px;
      background-image: url(Images/Project-Card.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }

    .Main-Content_Projects-Card_Img{
        width: 100px;
        height: 100px;
    }

    .Main-Content_Projects-Card_Img img{
      padding-top: 3px;
      width: 99%;
      height: 99%;
    }

    .Main-Content_Projects-Card a{
    text-decoration: none;  
    
    }

    .Main-Content_Projects-Card_Title{
      padding-top: 15px;
      width: 800px;
      height: 60px;
    }
    .Main-Content_Projects-Card_Description{
      width: 900px;
      height: 100px;
      font-size: 16px;
    }

    .Main-Content_Projects-Card_Button{

    }






    /* ------------------------------------ */

    /* ARTWORK */
    .Main-Content_Artwork-Container{
      width: auto; height: 60vw; background-color: var(--Black);
      padding-left: 10vw;
    }
    /* ------------------------------------ */

    /* Contact Me */
    .Main-Content_Contact-Me-Container{
      width: auto; height: 60vw; background-color: var(--Black);
      padding-left: 10vw;
    }

    .Main-Content_Contact-Me-Image{

    }

    /* ------------------------------------ */

  





  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
